/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'DVPOLISH_PBMM2_ALIGN' {
        ext.args = '-N 1 -l 4000'
        cpus = 4
    }

    withName: 'SAMTOOLS_VIEW' {
        ext.prefix = {"${input.baseName}_${index.baseName}"}
        cpus = 10
        ext.args = {"-bh -F 2308 -M -L ${index}"}
    }

    withName: 'SAMTOOLS_MERGE' {
        ext.prefix = {"${meta.id}_${meta.mergeID}"}
        cpus = 4
    }

    withName: 'DEEPVARIANT' {
        cpus = 36
        ext.args = {"--model_type=PACBIO"}
        ext.prefix = {"${meta.id}_${meta.mergeID}"}
    }

    withName: 'BCFTOOLS_VIEW' {
        cpus = 6
        ext.args = {"-f 'PASS' -i 'GT=\"1/1\"' --no-version -Oz"}
        ext.prefix = {"${meta.id}_${meta.mergeID}_filt"}
    }

    withName: 'BCFTOOLS_VIEW' {
        cpus = 4
        ext.args = {"--force-samples"}
}
